@font-face {
  font-family: "Shrikhand";
  src: url("css/Shrikhand/Shrikhand-Regular.ttf") format("ttf");
  src: local("css/Shrikhand");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("css/Roboto/Roboto-Regular.ttf") format("ttf");
  src: url("css/Roboto/Roboto-bold.ttf") format("ttf");
  src: url("css/Roboto/Roboto-Italic.ttf") format("ttf");
  src: local("css/Roboto");
  font-weight: normal;
  font-style: normal; }
body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }

a {
  text-decoration: none; }

a:visited {
  color: #000000; }

ul {
  list-style: none; }

.logo {
  width: 70%;
  font-family: "Shrikhand";
  text-align: center;
  margin-left: 15%;
  margin-top: 20px; }

.accueil {
  width: 100%;
  background-color: #F2F2F2;
  padding-bottom: 20px;
  text-align: center; }
  .accueil__location {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #d9d9d9;
    box-shadow: inset 0px 5px 0px rgba(0, 0, 0, 0.1); }
    .accueil__location__titre {
      font-size: 11px;
      margin-left: 10px;
      color: #737373; }
  .accueil__titre {
    width: 60%;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%); }
    .accueil__titre > h1 {
      font-family: "Shrikhand";
      font-size: 20px; }
  .accueil__soustitre {
    width: 80%;
    font-size: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%); }
    .accueil__soustitre > h2 {
      font-weight: normal; }

.accueil__btn {
  cursor: pointer;
  width: 50%;
  height: 40px;
  color: #FFFFFF;
  border: 0;
  background: linear-gradient(0deg, #a16be0, 60%, #FF79DA);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px/20px; }

.nav {
  width: 100%; }
  .nav__titre {
    margin-left: 20px; }

.--nav {
  width: 100%; }

.nav__btn {
  cursor: pointer;
  width: 70%;
  height: 70px;
  margin-bottom: 20px;
  border: 0 solid #404040;
  border-radius: 15px/15px;
  text-align: center;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  background-color: #F2F2F2;
  position: relative;
  left: 35%;
  transform: translate(-35%);
  z-index: 1; }
  .nav__btn:hover .nav__btn--icon {
    opacity: 1;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #9356DC;
    opacity: 1;
    z-index: 1;
    transition: opacity 250ms; }
  .nav__btn:hover::after {
    opacity: 1; }
  .nav__btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px/15px;
    background-color: #d7c0f2;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms; }
  .nav__btn span {
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold; }
  .nav__btn--i {
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    border: 1px #9356DC solid;
    background-color: #9356DC;
    width: 20px;
    height: 15px;
    padding-top: 5px;
    border-radius: 50%;
    position: relative;
    left: 13%;
    bottom: 1%;
    z-index: 2; }
  .nav__btn--icon {
    color: gray; }

.container-card {
  width: 100%;
  height: auto;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .container-card__titre {
    margin-left: 20px; }

.card-rest {
  width: 90%;
  background: #FFFFFF;
  border-radius: 20px/20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  text-align: justify;
  transition: all 0.25s;
  line-height: 0;
  align-self: center; }
  .card-rest__image {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0; }

.card-rest img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.cardbody {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 10px; }
  .cardbody h2 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 5px; }
  .cardbody p {
    font-size: 12px;
    padding-left: 5px; }
  .cardbody .icon {
    cursor: pointer;
    font-weight: normal;
    position: relative;
    color: #9356DC;
    top: 10px;
    right: 5;
    z-index: 1; }

.fpage {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: #333333;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1; }
  .fpage .titre {
    margin-left: 8%;
    padding-top: 5px;
    font-size: 14px;
    color: #FFFFFF; }
  .fpage .__links {
    color: #FFFFFF;
    font-size: 12px; }

.links {
  margin-bottom: 10px; }
  .links i {
    margin-right: 15px; }
  .links a {
    color: #FFFFFF; }

/*---------------menu restaurants----------------------------*/
.logo-btn {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .logo-btn .logo {
    position: relative;
    right: 15%; }
    .logo-btn .logo img {
      width: 60%; }

.btn-return {
  position: relative;
  left: 5%;
  top: 35%; }

.img-rest {
  margin-top: 20px;
  width: 100%; }
  .img-rest img {
    width: 100%;
    object-fit: cover; }

.rest-cart {
  width: 100%;
  height: auto;
  margin-top: -15%;
  padding-bottom: 20px;
  background-color: #F2F2F2;
  border-radius: 30px 30px 0 0;
  position: relative;
  z-index: 1; }
  .rest-cart__name {
    width: 90%;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
    .rest-cart__name h2 {
      font-size: 2rem;
      font-family: 'Shrikhand';
      font-style: italic;
      font-weight: bold;
      margin-left: 5px; }

.restaurant {
  text-align: center;
  width: 100%;
  height: auto; }
  .restaurant .t-cart {
    display: inline block;
    width: 4vh;
    border-bottom: 3px solid #99E2D0;
    line-height: 0;
    text-align: left;
    margin: 20px; }
    .restaurant .t-cart h2 {
      font-weight: normal;
      font-size: 12px; }
  .restaurant .btn-rest {
    width: 90%;
    height: 70px;
    text-align: left;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px; }
  .restaurant h2 {
    font-size: 16px;
    margin-left: 10px; }
  .restaurant p {
    margin-left: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between; }
  .restaurant span {
    font-weight: bold;
    margin-right: 10px; }
  .restaurant--btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }

.--fpage {
  margin-bottom: -2%; }

/*# sourceMappingURL=style.css.map */
