@font-face {
    font-family:'Shrikhand' ;
    src: url("css/Shrikhand/Shrikhand-Regular.ttf") format('ttf');
    src: local('css/Shrikhand');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: url("css/Roboto/Roboto-Regular.ttf") format('ttf');
    src: url("css/Roboto/Roboto-bold.ttf") format('ttf');
    src: url("css/Roboto/Roboto-Italic.ttf") format('ttf');
    src: local('css/Roboto');
    font-weight: normal;
    font-style: normal;
}
body
{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;

}
a{
    text-decoration: none;
}
a:visited{
    color: #000000;
}
ul{
    list-style: none;
}

$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$polices-titres: 'Shrikhand';
$polices-text: 'Roboto', sans-serif;
$background_menu: #F2F2F2;
$background-nav-btn: #404040;
$border-img:  20px 20px 0 0 ;
$border-btn: 20px 20px 20px 20px;
@mixin boxshadow{
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.20);
}
@mixin efecthover {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 15px/15px;
        background-color: lighten($color-primaire, 25%);
        opacity:0;
        z-index: -1;
        transition: opacity 250ms;
   }
    
}
@mixin efecthover-i {
                  
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color:$color-primaire;
        opacity:1;
        z-index: 1;
        transition: opacity 250ms;
    }
@mixin btn-color {  
     background:linear-gradient(0deg,lighten($color-primaire,5),60%,$color-secondaire);
}   
@mixin color-icon{
    color:linear-gradient(0deg,lighten($color-primaire,5),60%,$color-secondaire);
}







.logo
{
    width: 70%;
    font-family: $polices-titres;
    text-align: center;
    margin-left: 15%;
    margin-top: 20px;
}
.accueil
{
    width: 100%;
    background-color: $background_menu;
    padding-bottom: 20px;
    text-align: center; 
    &__location
    {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: darken($background_menu, 10%);
    box-shadow: inset 0px 5px 0px rgba(0, 0, 0, 0.1);
    &__titre{
        font-size: 11px;
        margin-left: 10px;
        color: lighten(#000000, 45%);
        
    }
    
    }  
    &__titre {
        width: 60%;
        font-size: 14px;
        margin-bottom: 20px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        & > h1{
            font-family: $polices-titres;
            font-size: 20px;
        }

    }
    &__soustitre{
        width: 80%;
        font-size: 10px;
        margin-bottom: 20px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        & > h2{
            font-weight: normal;
        }

    }
    
}
.accueil__btn{
            cursor: pointer;
            width: 50%;
            height: 40px;
            color: #FFFFFF;
            border: 0;
            @include btn-color;           
            @include boxshadow;
            border-radius: 20px/20px;

}
.nav{
    width: 100%;
    &__titre{
        margin-left: 20px;
    }
    }
.--nav{
        width: 100%;
    }
.nav__btn
{
    cursor: pointer;
    width: 70%;
    height: 70px;
    margin-bottom: 20px;
    border: 0 solid $background-nav-btn;
    border-radius: 15px/15px;
    text-align: center;
    @include boxshadow;
    background-color: $background-menu;
    position: relative;
    left: 35%;
    transform: translate(-35%);
    z-index: 1;
    &:hover{
        .nav__btn--icon{
                opacity: 1;
                @include efecthover-i;
            }
            
        
        &::after{
            opacity: 1;
        }
    }
    @include efecthover;
    
    
    span
    {margin-left: 20px;
         font-size: 14px;
        font-weight: bold;
    }
   &--i{
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    border: 1px $color-primaire solid;
    background-color:$color-primaire;
    width: 	20px;
	height: 15px;
    padding-top:5px;
    border-radius: 50%;
    position: relative;
    left: 13%;
    bottom: 1%;
    z-index: 2;

   }
   &--icon
   {
     color: lighten( #000000, 50%);     
     }
     
   
     
}

.container-card
{
    width: 100%;
    height: auto;
    background-color: $background-menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;      
   &__titre{
       margin-left: 20px;
   }
}
.card-rest
{
    width: 90%;
    background: #FFFFFF;
    border-radius: 20px/20px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.20);
    margin-bottom: 15px;
    text-align: justify;
    transition: all 0.25s;
    line-height: 0;
    align-self: center;
    &__image{
        height: 200px;
        position: relative;
        overflow: hidden;
       border-radius: $border-img ;
    }
}

.card-rest img
{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cardbody
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 10px;
    h2{
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    p{
        font-size: 12px;
        padding-left: 5px;
    }
    

    .icon 
        {
    cursor: pointer;
    font-weight:normal;
    position: relative;
    color: $color-primaire;
    top: 10px;
    right: 5;
    z-index: 1;}
    
}

.fpage
{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: lighten(#000000, 20%);
    margin-bottom: 20px;
    text-align: left;
    line-height: 1;
    .titre{
        margin-left: 8%;
        padding-top: 5px;
        font-size: 14px;
        color: #FFFFFF;
    }
    .__links{
    color: #FFFFFF;
    font-size: 12px;
    }
}

.links{
    margin-bottom: 10px;
    i{
        margin-right: 15px;
    }

    a{
        color: #FFFFFF;
        
    }
} 
/*---------------menu restaurants----------------------------*/
.logo-btn
{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .logo{
        position: relative;
        right: 15%;
        img{
            width: 60%;
        }
    }
    
}
.btn-return {
    position: relative;
    left: 5%;
    top: 35%;
}
.img-rest{
    margin-top: 20px;
    width: 100%;  
    img{
        width: 100%;
        object-fit: cover;
        
    }
}
.rest-cart
{
    width: 100%;
    height: auto;
    margin-top: -15%;
    padding-bottom: 20px;
    background-color:$background_menu;
    border-radius: 30px 30px 0 0;
    position: relative;    
    z-index: 1;    

    &__name{
        width: 90%;
        padding-top: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        h2{
            font-size: 2rem;
            font-family: 'Shrikhand';
            font-style: italic;
            font-weight: bold;
            margin-left: 5px;
        }
        

        
    }
}
.restaurant{
    text-align: center;
    width: 100%;
    height: auto;
    .t-cart{
        display: inline block;
        width: 4vh;
        border-bottom: 3px solid #99E2D0;
        line-height: 0;
        text-align: left;
        margin:20px;
        h2{
            font-weight: normal;
            font-size: 12px;
        }
    }
   .btn-rest{
            width: 90%;
            height: 70px;
            text-align: left;
            background-color: #FFFFFF;
            margin-bottom: 20px;
            border-radius: $border-btn;
            
            }
            h2{
                font-size: 16px;
                margin-left: 10px;
            }
            p{
                margin-left: 10px;
                font-size: 12px;
                display: flex;
                justify-content: space-between;
            }
            span{
                font-weight: bold;
                margin-right: 10px;
            }
    &--btn{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
 
}
.--fpage{
    margin-bottom: -2%;
}