$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$polices-titres: Shrikhand, sans-serif;
$polices-text: Roboto, sans-serif;
$background_menu: #F2F2F2;
$background-nav-btn: #404040;
$border-img:  20px 20px 0 0 ;
$border-btn: 20px 20px 20px 20px;