@font-face {
    font-family:'Shrikhand' ;
    src: url("css/Shrikhand/Shrikhand-Regular.ttf") format('ttf');
    src: local('css/Shrikhand');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: url("css/Roboto/Roboto-Regular.ttf") format('ttf');
    src: url("css/Roboto/Roboto-bold.ttf") format('ttf');
    src: url("css/Roboto/Roboto-Italic.ttf") format('ttf');
    src: local('css/Roboto');
    font-weight: normal;
    font-style: normal;
}